<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SystemSettingsEditDlg" widgetVar="SystemSettingsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditSystemSettingsTitle}">
            <h:form id="SystemSettingsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{systemSettingsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditSystemSettingsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{systemSettingsController.selected.id}" title="#{bundle.EditSystemSettingsTitle_id}" required="true" requiredMessage="#{bundle.EditSystemSettingsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditSystemSettingsLabel_settingName}" for="settingName" />
                        <p:inputText id="settingName" value="#{systemSettingsController.selected.settingName}" title="#{bundle.EditSystemSettingsTitle_settingName}" required="true" requiredMessage="#{bundle.EditSystemSettingsRequiredMessage_settingName}"/>
                        <p:outputLabel value="#{bundle.EditSystemSettingsLabel_value}" for="value" />
                        <p:inputText id="value" value="#{systemSettingsController.selected.value}" title="#{bundle.EditSystemSettingsTitle_value}" required="true" requiredMessage="#{bundle.EditSystemSettingsRequiredMessage_value}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{systemSettingsController.update}" value="#{bundle.Save}" update="display,:SystemSettingsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'SystemSettingsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="SystemSettingsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
