<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TransactionsEditDlg" widgetVar="TransactionsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTransactionsTitle}">
            <h:form id="TransactionsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{transactionsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTransactionsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{transactionsController.selected.id}" title="#{bundle.EditTransactionsTitle_id}" required="true" requiredMessage="#{bundle.EditTransactionsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditTransactionsLabel_userId}" for="userId" />
                        <p:inputText id="userId" value="#{transactionsController.selected.userId}" title="#{bundle.EditTransactionsTitle_userId}" required="true" requiredMessage="#{bundle.EditTransactionsRequiredMessage_userId}"/>
                        <p:outputLabel value="#{bundle.EditTransactionsLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{transactionsController.selected.createdAt}" title="#{bundle.EditTransactionsTitle_createdAt}" required="true" requiredMessage="#{bundle.EditTransactionsRequiredMessage_createdAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditTransactionsLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{transactionsController.selected.updatedAt}" title="#{bundle.EditTransactionsTitle_updatedAt}" required="true" requiredMessage="#{bundle.EditTransactionsRequiredMessage_updatedAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditTransactionsLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{transactionsController.selected.amount}" title="#{bundle.EditTransactionsTitle_amount}" required="true" requiredMessage="#{bundle.EditTransactionsRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.EditTransactionsLabel_runningBalance}" for="runningBalance" />
                        <p:inputText id="runningBalance" value="#{transactionsController.selected.runningBalance}" title="#{bundle.EditTransactionsTitle_runningBalance}" required="true" requiredMessage="#{bundle.EditTransactionsRequiredMessage_runningBalance}"/>
                        <p:outputLabel value="#{bundle.EditTransactionsLabel_transactionsType}" for="transactionsType" />
                        <p:selectOneMenu id="transactionsType" value="#{transactionsController.selected.transactionsType}" required="true" requiredMessage="#{bundle.EditTransactionsRequiredMessage_transactionsType}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{transactionsTypeController.itemsAvailableSelectOne}"
                                           var="transactionsTypeItem"
                                           itemValue="#{transactionsTypeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{transactionsController.update}" value="#{bundle.Save}" update="display,:TransactionsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TransactionsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TransactionsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
