.ui-widget {
    font-size: 12px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}
.ui-selectonemenu.with-placeholder .ui-selectonemenu-label {
    color: #ccc;
}
.ui-selectonemenu-panel.hide-disabled .ui-selectonemenu-list-item.ui-state-disabled {
    display: none;
}
.ui-datatable th,.ui-datatable td{
    padding-left: 1px !important;
    padding-right: 1px !important;
}
.colored {
    background-color: #FF0000;
    color: #FFFFFF;
}

.true {
    background-color:  #d433ff;
    color: #FFFFFF;
}
.arrears {
    background-color:  #f1948a;
    color: #FFFFFF;
}

.lpodraft{
    background-color : #ffb3b3;
}

.lpoposted{
    background-color: #ccffff; 
}

.goodsreceivingnote{
    background-color: #6699ff;
}

.processedinvoice{
    background-color: #d433ff; 
}