<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OffersCreateDlg" widgetVar="OffersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateOffersTitle}">
            <h:form id="OffersCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{offersController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateOffersLabel_id}" for="id" />
                        <p:inputText id="id" value="#{offersController.selected.id}" title="#{bundle.CreateOffersTitle_id}" required="true" requiredMessage="#{bundle.CreateOffersRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateOffersLabel_imageLink}" for="imageLink" />
                        <p:inputText id="imageLink" value="#{offersController.selected.imageLink}" title="#{bundle.CreateOffersTitle_imageLink}" required="true" requiredMessage="#{bundle.CreateOffersRequiredMessage_imageLink}"/>
                        <p:outputLabel value="#{bundle.CreateOffersLabel_body}" for="body" />
                        <p:inputText id="body" value="#{offersController.selected.body}" title="#{bundle.CreateOffersTitle_body}" required="true" requiredMessage="#{bundle.CreateOffersRequiredMessage_body}"/>
                        <p:outputLabel value="#{bundle.CreateOffersLabel_start}" for="start" />
                        <p:calendar id="start" pattern="MM/dd/yyyy HH:mm:ss" value="#{offersController.selected.start}" title="#{bundle.EditOffersTitle_start}" required="true" requiredMessage="#{bundle.EditOffersRequiredMessage_start}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateOffersLabel_expiry}" for="expiry" />
                        <p:calendar id="expiry" pattern="MM/dd/yyyy HH:mm:ss" value="#{offersController.selected.expiry}" title="#{bundle.EditOffersTitle_expiry}" required="true" requiredMessage="#{bundle.EditOffersRequiredMessage_expiry}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateOffersLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{offersController.selected.createdAt}" title="#{bundle.EditOffersTitle_createdAt}" required="true" requiredMessage="#{bundle.EditOffersRequiredMessage_createdAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateOffersLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{offersController.selected.updatedAt}" title="#{bundle.EditOffersTitle_updatedAt}" required="true" requiredMessage="#{bundle.EditOffersRequiredMessage_updatedAt}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{offersController.create}" value="#{bundle.Save}" update="display,:OffersListForm:datalist,:growl" oncomplete="handleSubmit(args,'OffersCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="OffersCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
