<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListOffersTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        #{bundle.ListBookingsTitle}
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                             <li><h:link class="fa fa-dashboard" outcome="/admin/dashboard.xhtml" value="    Dashboard"/></li>
                        </li>
                        <li class="active">
                            <i class="fa fa-newspaper-o"></i> #{bundle.ListBookingsTitle}
                        </li>
                    </ol>
                </div>
             </div>
            <h:form id="OffersListForm">
                <p:panel header="#{bundle.ListOffersTitle}">
                    <p:dataTable id="datalist" value="#{offersController.items}" var="item"
                                 selectionMode="single" selection="#{offersController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton "/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton "/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOffersTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOffersTitle_imageLink}"/>
                            </f:facet>
                            <h:outputText value="#{item.imageLink}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOffersTitle_body}"/>
                            </f:facet>
                            <h:outputText value="#{item.body}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOffersTitle_start}"/>
                            </f:facet>
                            <h:outputText value="#{item.start}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOffersTitle_expiry}"/>
                            </f:facet>
                            <h:outputText value="#{item.expiry}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOffersTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOffersTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{offersController.prepareCreate}" update=":OffersCreateForm" oncomplete="PF('OffersCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":OffersViewForm" oncomplete="PF('OffersViewDialog').show()" disabled="#{empty offersController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":OffersEditForm" oncomplete="PF('OffersEditDialog').show()" disabled="#{empty offersController.selected}"/>
                            
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
