<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="OffersViewDlg" widgetVar="OffersViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewOffersTitle}">
            <h:form id="OffersViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{offersController.selected != null}">
                        <h:outputText value="#{bundle.ViewOffersLabel_id}"/>
                        <h:outputText value="#{offersController.selected.id}" title="#{bundle.ViewOffersTitle_id}"/>
                        <h:outputText value="#{bundle.ViewOffersLabel_imageLink}"/>
                        <h:outputText value="#{offersController.selected.imageLink}" title="#{bundle.ViewOffersTitle_imageLink}"/>
                        <h:outputText value="#{bundle.ViewOffersLabel_body}"/>
                        <h:outputText value="#{offersController.selected.body}" title="#{bundle.ViewOffersTitle_body}"/>
                        <h:outputText value="#{bundle.ViewOffersLabel_start}"/>
                        <h:outputText value="#{offersController.selected.start}" title="#{bundle.ViewOffersTitle_start}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewOffersLabel_expiry}"/>
                        <h:outputText value="#{offersController.selected.expiry}" title="#{bundle.ViewOffersTitle_expiry}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewOffersLabel_createdAt}"/>
                        <h:outputText value="#{offersController.selected.createdAt}" title="#{bundle.ViewOffersTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewOffersLabel_updatedAt}"/>
                        <h:outputText value="#{offersController.selected.updatedAt}" title="#{bundle.ViewOffersTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="OffersViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
