<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookingStatusCreateDlg" widgetVar="BookingStatusCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateBookingStatusTitle}">
            <h:form id="BookingStatusCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookingStatusController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateBookingStatusLabel_id}" for="id" />
                        <p:inputText id="id" value="#{bookingStatusController.selected.id}" title="#{bundle.CreateBookingStatusTitle_id}" required="true" requiredMessage="#{bundle.CreateBookingStatusRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateBookingStatusLabel_status}" for="status" />
                        <p:inputText id="status" value="#{bookingStatusController.selected.status}" title="#{bundle.CreateBookingStatusTitle_status}" required="true" requiredMessage="#{bundle.CreateBookingStatusRequiredMessage_status}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bookingStatusController.create}" value="#{bundle.Save}" update="display,:BookingStatusListForm:datalist,:growl" oncomplete="handleSubmit(args,'BookingStatusCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BookingStatusCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
