<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookingStatusViewDlg" widgetVar="BookingStatusViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBookingStatusTitle}">
            <h:form id="BookingStatusViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookingStatusController.selected != null}">
                        <h:outputText value="#{bundle.ViewBookingStatusLabel_id}"/>
                        <h:outputText value="#{bookingStatusController.selected.id}" title="#{bundle.ViewBookingStatusTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBookingStatusLabel_status}"/>
                        <h:outputText value="#{bookingStatusController.selected.status}" title="#{bundle.ViewBookingStatusTitle_status}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BookingStatusViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
