<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CarSpecificModelCreateDlg" widgetVar="CarSpecificModelCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCarSpecificModelTitle}">
            <h:form id="CarSpecificModelCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{carSpecificModelController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateCarSpecificModelLabel_id}" for="id" />
                        <p:inputText id="id" value="#{carSpecificModelController.selected.id}" title="#{bundle.CreateCarSpecificModelTitle_id}" required="true" requiredMessage="#{bundle.CreateCarSpecificModelRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateCarSpecificModelLabel_specificModel}" for="specificModel" />
                        <p:inputText id="specificModel" value="#{carSpecificModelController.selected.specificModel}" title="#{bundle.CreateCarSpecificModelTitle_specificModel}" required="true" requiredMessage="#{bundle.CreateCarSpecificModelRequiredMessage_specificModel}"/>
                        <p:outputLabel value="#{bundle.CreateCarSpecificModelLabel_carModelId}" for="carModelId" />
                        <h:selectOneMenu id="carModelId" value="#{carModelController.selected.model}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_carSpecificModelId}">
                            <f:selectItems value="#{carModelController.carModel}"
                                           var="carModelIdItem"
                                           itemValue="#{carModelIdItem.id}" itemLabel="#{carModelIdItem.model}"/>
                                            
                        </h:selectOneMenu>
                        
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{carSpecificModelController.create}" value="#{bundle.Save}" update="display,:CarSpecificModelListForm:datalist,:growl" oncomplete="handleSubmit(args,'CarSpecificModelCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CarSpecificModelCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
