<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CarSpecificModelViewDlg" widgetVar="CarSpecificModelViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewCarSpecificModelTitle}">
            <h:form id="CarSpecificModelViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{carSpecificModelController.selected != null}">
                        <h:outputText value="#{bundle.ViewCarSpecificModelLabel_id}"/>
                        <h:outputText value="#{carSpecificModelController.selected.id}" title="#{bundle.ViewCarSpecificModelTitle_id}"/>
                        <h:outputText value="#{bundle.ViewCarSpecificModelLabel_specificModel}"/>
                        <h:outputText value="#{carSpecificModelController.selected.specificModel}" title="#{bundle.ViewCarSpecificModelTitle_specificModel}"/>
                        <h:outputText value="#{bundle.ViewCarSpecificModelLabel_carModelId}"/>
                        <h:outputText value="#{carSpecificModelController.selected.carModelId}" title="#{bundle.ViewCarSpecificModelTitle_carModelId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="CarSpecificModelViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
