<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookingTransitionEditDlg" widgetVar="BookingTransitionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBookingTransitionTitle}">
            <h:form id="BookingTransitionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookingTransitionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBookingTransitionLabel_id}" for="id" />
                        <p:inputText id="id" value="#{bookingTransitionController.selected.id}" title="#{bundle.EditBookingTransitionTitle_id}" required="true" requiredMessage="#{bundle.EditBookingTransitionRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditBookingTransitionLabel_timeWhen}" for="timeWhen" />
                        <p:calendar id="timeWhen" pattern="MM/dd/yyyy HH:mm:ss" value="#{bookingTransitionController.selected.timeWhen}" title="#{bundle.EditBookingTransitionTitle_timeWhen}" required="true" requiredMessage="#{bundle.EditBookingTransitionRequiredMessage_timeWhen}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBookingTransitionLabel_transitionStatus}" for="transitionStatus" />
                        <p:selectOneMenu id="transitionStatus" value="#{bookingTransitionController.selected.transitionStatus}" required="true" requiredMessage="#{bundle.EditBookingTransitionRequiredMessage_transitionStatus}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bookingStatusController.itemsAvailableSelectOne}"
                                           var="transitionStatusItem"
                                           itemValue="#{transitionStatusItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditBookingTransitionLabel_booking}" for="booking" />
                        <p:selectOneMenu id="booking" value="#{bookingTransitionController.selected.booking}" required="true" requiredMessage="#{bundle.EditBookingTransitionRequiredMessage_booking}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{bookingsController.itemsAvailableSelectOne}"
                                           var="bookingItem"
                                           itemValue="#{bookingItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bookingTransitionController.update}" value="#{bundle.Save}" update="display,:BookingTransitionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BookingTransitionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BookingTransitionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
