<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookingTransitionViewDlg" widgetVar="BookingTransitionViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBookingTransitionTitle}">
            <h:form id="BookingTransitionViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookingTransitionController.selected != null}">
                        <h:outputText value="#{bundle.ViewBookingTransitionLabel_id}"/>
                        <h:outputText value="#{bookingTransitionController.selected.id}" title="#{bundle.ViewBookingTransitionTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBookingTransitionLabel_timeWhen}"/>
                        <h:outputText value="#{bookingTransitionController.selected.timeWhen}" title="#{bundle.ViewBookingTransitionTitle_timeWhen}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBookingTransitionLabel_transitionStatus}"/>
                        <h:outputText value="#{bookingTransitionController.selected.transitionStatus}" title="#{bundle.ViewBookingTransitionTitle_transitionStatus}"/>
                        <h:outputText value="#{bundle.ViewBookingTransitionLabel_booking}"/>
                        <h:outputText value="#{bookingTransitionController.selected.booking}" title="#{bundle.ViewBookingTransitionTitle_booking}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BookingTransitionViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
