<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PartnersCreateDlg" widgetVar="PartnersCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePartnersTitle}">
            <h:form id="PartnersCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{partnersController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_id}" for="id" />
                        <p:inputText id="id" value="#{partnersController.selected.id}" title="#{bundle.CreatePartnersTitle_id}" required="true" requiredMessage="#{bundle.CreatePartnersRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_name}" for="name" />
                        <p:inputText id="name" value="#{partnersController.selected.name}" title="#{bundle.CreatePartnersTitle_name}" required="true" requiredMessage="#{bundle.CreatePartnersRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_basefare}" for="basefare" />
                        <p:inputText id="basefare" value="#{partnersController.selected.basefare}" title="#{bundle.CreatePartnersTitle_basefare}" required="true" requiredMessage="#{bundle.CreatePartnersRequiredMessage_basefare}"/>
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_kmrate}" for="kmrate" />
                        <p:inputText id="kmrate" value="#{partnersController.selected.kmrate}" title="#{bundle.CreatePartnersTitle_kmrate}" required="true" requiredMessage="#{bundle.CreatePartnersRequiredMessage_kmrate}"/>
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_timerate}" for="timerate" />
                        <p:inputText id="timerate" value="#{partnersController.selected.timerate}" title="#{bundle.CreatePartnersTitle_timerate}" required="true" requiredMessage="#{bundle.CreatePartnersRequiredMessage_timerate}"/>
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_active}" for="active" />
                        <p:selectBooleanCheckbox id="active" value="#{partnersController.selected.active}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_active}"/>
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{partnersController.selected.createdAt}" title="#{bundle.EditPartnersTitle_createdAt}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_createdAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{partnersController.selected.updatedAt}" title="#{bundle.EditPartnersTitle_updatedAt}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_updatedAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreatePartnersLabel_carSpecificModelId}" for="carSpecificModelId" />
                        <h:selectOneMenu id="carSpecificModelId" value="#{partnersController.selected.carSpecificModelId}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_carSpecificModelId}">
                            <f:selectItems value="#{partnersController.specificModels}"
                                           var="carSpecificModelIdItem"
                                           itemValue="#{carSpecificModelIdItem.id}" itemLabel="#{carSpecificModelIdItem.specificModel}"/>
                                            
                        </h:selectOneMenu>
                        <p:outputLabel value="Car model" for="carModelId" />
                        <h:selectOneMenu id="carModelId" value="#{carModelController.selected.model}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_carSpecificModelId}">
                            <f:selectItems value="#{carModelController.carModel}"
                                           var="carModelIdItem"
                                           itemValue="#{carModelIdItem.id}" itemLabel="#{carModelIdItem.model}"/>
                                            
                        </h:selectOneMenu>
                       
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{partnersController.create}" value="#{bundle.Save}" update="display,:PartnersListForm:datalist,:growl" oncomplete="handleSubmit(args,'PartnersCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PartnersCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
