<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PartnersEditDlg" widgetVar="PartnersEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPartnersTitle}">
            <h:form id="PartnersEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{partnersController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPartnersLabel_id}" for="id" />
                        <p:inputText id="id" value="#{partnersController.selected.id}" title="#{bundle.EditPartnersTitle_id}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditPartnersLabel_name}" for="name" />
                        <p:inputText id="name" value="#{partnersController.selected.name}" title="#{bundle.EditPartnersTitle_name}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.EditPartnersLabel_basefare}" for="basefare" />
                        <p:inputText id="basefare" value="#{partnersController.selected.basefare}" title="#{bundle.EditPartnersTitle_basefare}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_basefare}"/>
                        <p:outputLabel value="#{bundle.EditPartnersLabel_kmrate}" for="kmrate" />
                        <p:inputText id="kmrate" value="#{partnersController.selected.kmrate}" title="#{bundle.EditPartnersTitle_kmrate}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_kmrate}"/>
                        <p:outputLabel value="#{bundle.EditPartnersLabel_timerate}" for="timerate" />
                        <p:inputText id="timerate" value="#{partnersController.selected.timerate}" title="#{bundle.EditPartnersTitle_timerate}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_timerate}"/>
                        <p:outputLabel value="#{bundle.EditPartnersLabel_active}" for="active" />
                        <p:selectBooleanCheckbox id="active" value="#{partnersController.selected.active}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_active}"/>
                        <p:outputLabel value="#{bundle.EditPartnersLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{partnersController.selected.createdAt}" title="#{bundle.EditPartnersTitle_createdAt}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_createdAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPartnersLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{partnersController.selected.updatedAt}" title="#{bundle.EditPartnersTitle_updatedAt}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_updatedAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPartnersLabel_carSpecificModelId}" for="carSpecificModelId" />
                        <p:selectOneMenu id="carSpecificModelId" value="#{partnersController.selected.carSpecificModelId}" required="true" requiredMessage="#{bundle.EditPartnersRequiredMessage_carSpecificModelId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{carSpecificModelController.itemsAvailableSelectOne}"
                                           var="carSpecificModelIdItem"
                                           itemValue="#{carSpecificModelIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{partnersController.update}" value="#{bundle.Save}" update="display,:PartnersListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PartnersEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PartnersEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
