<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AdminUsersViewDlg" widgetVar="AdminUsersViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAdminUsersTitle}">
            <h:form id="AdminUsersViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{adminUsersController.selected != null}">
                        <h:outputText value="#{bundle.ViewAdminUsersLabel_id}"/>
                        <h:outputText value="#{adminUsersController.selected.id}" title="#{bundle.ViewAdminUsersTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAdminUsersLabel_email}"/>
                        <h:outputText value="#{adminUsersController.selected.email}" title="#{bundle.ViewAdminUsersTitle_email}"/>
                        <h:outputText value="#{bundle.ViewAdminUsersLabel_password}"/>
                        <h:outputText value="#{adminUsersController.selected.password}" title="#{bundle.ViewAdminUsersTitle_password}"/>
                        <h:outputText value="#{bundle.ViewAdminUsersLabel_groupname}"/>
                        <h:outputText value="#{adminUsersController.selected.groupname}" title="#{bundle.ViewAdminUsersTitle_groupname}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AdminUsersViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
