<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AcctypeEditDlg" widgetVar="AcctypeEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditAcctypeTitle}">
            <h:form id="AcctypeEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{acctypeController.selected != null}">
                        <p:outputLabel value="#{bundle.EditAcctypeLabel_id}" for="id" />
                        <p:inputText id="id" value="#{acctypeController.selected.id}" title="#{bundle.EditAcctypeTitle_id}" required="true" requiredMessage="#{bundle.EditAcctypeRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditAcctypeLabel_accountType}" for="accountType" />
                        <p:inputText id="accountType" value="#{acctypeController.selected.accountType}" title="#{bundle.EditAcctypeTitle_accountType}" required="true" requiredMessage="#{bundle.EditAcctypeRequiredMessage_accountType}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{acctypeController.update}" value="#{bundle.Save}" update="display,:AcctypeListForm:datalist,:growl" oncomplete="handleSubmit(args, 'AcctypeEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AcctypeEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
