<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AcctypeViewDlg" widgetVar="AcctypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAcctypeTitle}">
            <h:form id="AcctypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{acctypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewAcctypeLabel_id}"/>
                        <h:outputText value="#{acctypeController.selected.id}" title="#{bundle.ViewAcctypeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAcctypeLabel_accountType}"/>
                        <h:outputText value="#{acctypeController.selected.accountType}" title="#{bundle.ViewAcctypeTitle_accountType}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AcctypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
