<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PaymentsEditDlg" widgetVar="PaymentsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPaymentsTitle}">
            <h:form id="PaymentsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{paymentsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPaymentsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{paymentsController.selected.id}" title="#{bundle.EditPaymentsTitle_id}" required="true" requiredMessage="#{bundle.EditPaymentsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditPaymentsLabel_ref}" for="ref" />
                        <p:inputText id="ref" value="#{paymentsController.selected.ref}" title="#{bundle.EditPaymentsTitle_ref}" required="true" requiredMessage="#{bundle.EditPaymentsRequiredMessage_ref}"/>
                        <p:outputLabel value="#{bundle.EditPaymentsLabel_amount}" for="amount" />
                        <p:inputText id="amount" value="#{paymentsController.selected.amount}" title="#{bundle.EditPaymentsTitle_amount}" required="true" requiredMessage="#{bundle.EditPaymentsRequiredMessage_amount}"/>
                        <p:outputLabel value="#{bundle.EditPaymentsLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{paymentsController.selected.createdAt}" title="#{bundle.EditPaymentsTitle_createdAt}" required="true" requiredMessage="#{bundle.EditPaymentsRequiredMessage_createdAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPaymentsLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{paymentsController.selected.updatedAt}" title="#{bundle.EditPaymentsTitle_updatedAt}" required="true" requiredMessage="#{bundle.EditPaymentsRequiredMessage_updatedAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPaymentsLabel_mode}" for="mode" />
                        <p:selectOneMenu id="mode" value="#{paymentsController.selected.mode}" required="true" requiredMessage="#{bundle.EditPaymentsRequiredMessage_mode}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{paymentModeController.itemsAvailableSelectOne}"
                                           var="modeItem"
                                           itemValue="#{modeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPaymentsLabel_transaction}" for="transaction" />
                        <p:selectOneMenu id="transaction" value="#{paymentsController.selected.transaction}" required="true" requiredMessage="#{bundle.EditPaymentsRequiredMessage_transaction}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{transactionsController.itemsAvailableSelectOne}"
                                           var="transactionItem"
                                           itemValue="#{transactionItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{paymentsController.update}" value="#{bundle.Save}" update="display,:PaymentsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PaymentsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PaymentsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
