<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookingsEditDlg" widgetVar="BookingsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditBookingsTitle}">
            <h:form id="BookingsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookingsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditBookingsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{bookingsController.selected.id}" title="#{bundle.EditBookingsTitle_id}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_partnerId}" for="partnerId" />
                        <p:inputText id="partnerId" value="#{bookingsController.selected.partnerId}" title="#{bundle.EditBookingsTitle_partnerId}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_partnerId}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_assignedTo}" for="assignedTo" />
                        <p:inputText id="assignedTo" value="#{bookingsController.selected.assignedTo}" title="#{bundle.EditBookingsTitle_assignedTo}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_assignedTo}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_pickupAddress}" for="pickupAddress" />
                        <p:inputText id="pickupAddress" value="#{bookingsController.selected.pickupAddress}" title="#{bundle.EditBookingsTitle_pickupAddress}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_pickupAddress}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_pickupCordLongitude}" for="pickupCordLongitude" />
                        <p:inputText id="pickupCordLongitude" value="#{bookingsController.selected.pickupCordLongitude}" title="#{bundle.EditBookingsTitle_pickupCordLongitude}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_pickupCordLongitude}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_pickupCordLatitude}" for="pickupCordLatitude" />
                        <p:inputText id="pickupCordLatitude" value="#{bookingsController.selected.pickupCordLatitude}" title="#{bundle.EditBookingsTitle_pickupCordLatitude}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_pickupCordLatitude}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_pickupTime}" for="pickupTime" />
                        <p:calendar id="pickupTime" pattern="MM/dd/yyyy HH:mm:ss" value="#{bookingsController.selected.pickupTime}" title="#{bundle.EditBookingsTitle_pickupTime}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_pickupTime}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_destAddress}" for="destAddress" />
                        <p:inputText id="destAddress" value="#{bookingsController.selected.destAddress}" title="#{bundle.EditBookingsTitle_destAddress}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_destAddress}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_destCordLongitude}" for="destCordLongitude" />
                        <p:inputText id="destCordLongitude" value="#{bookingsController.selected.destCordLongitude}" title="#{bundle.EditBookingsTitle_destCordLongitude}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_destCordLongitude}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_destCordLatitude}" for="destCordLatitude" />
                        <p:inputText id="destCordLatitude" value="#{bookingsController.selected.destCordLatitude}" title="#{bundle.EditBookingsTitle_destCordLatitude}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_destCordLatitude}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_departureTime}" for="departureTime" />
                        <p:calendar id="departureTime" pattern="MM/dd/yyyy HH:mm:ss" value="#{bookingsController.selected.departureTime}" title="#{bundle.EditBookingsTitle_departureTime}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_departureTime}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_endTime}" for="endTime" />
                        <p:calendar id="endTime" pattern="MM/dd/yyyy HH:mm:ss" value="#{bookingsController.selected.endTime}" title="#{bundle.EditBookingsTitle_endTime}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_endTime}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_status}" for="status" />
                        <p:inputText id="status" value="#{bookingsController.selected.status}" title="#{bundle.EditBookingsTitle_status}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_status}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_promoCode}" for="promoCode" />
                        <p:inputText id="promoCode" value="#{bookingsController.selected.promoCode}" title="#{bundle.EditBookingsTitle_promoCode}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_promoCode}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_distance}" for="distance" />
                        <p:inputText id="distance" value="#{bookingsController.selected.distance}" title="#{bundle.EditBookingsTitle_distance}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_distance}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_price}" for="price" />
                        <p:inputText id="price" value="#{bookingsController.selected.price}" title="#{bundle.EditBookingsTitle_price}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_price}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_paid}" for="paid" />
                        <p:inputText id="paid" value="#{bookingsController.selected.paid}" title="#{bundle.EditBookingsTitle_paid}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_paid}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_transactionId}" for="transactionId" />
                        <p:inputText id="transactionId" value="#{bookingsController.selected.transactionId}" title="#{bundle.EditBookingsTitle_transactionId}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_transactionId}"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{bookingsController.selected.createdAt}" title="#{bundle.EditBookingsTitle_createdAt}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_createdAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{bookingsController.selected.updatedAt}" title="#{bundle.EditBookingsTitle_updatedAt}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_updatedAt}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditBookingsLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{bookingsController.selected.userId}" required="true" requiredMessage="#{bundle.EditBookingsRequiredMessage_userId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{subscribersController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{bookingsController.update}" value="#{bundle.Save}" update="display,:BookingsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'BookingsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="BookingsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
