<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/admin/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListBookingsTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
             <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        #{bundle.ListBookingsTitle}
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                             <li><h:link class="fa fa-dashboard" outcome="/admin/dashboard.xhtml" value="    Dashboard"/></li>
                        </li>
                        <li class="active">
                            <i class="fa fa-newspaper-o"></i> #{bundle.ListBookingsTitle}
                        </li>
                    </ol>
                </div>
             </div>
            <h:form id="BookingsListForm">
                <p:panel header="#{bundle.ListBookingsTitle}">
                    <p:dataTable id="datalist" value="#{bookingsController.items}" var="item"
                                 selectionMode="single" selection="#{bookingsController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton "/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton "/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_partnerId}"/>
                            </f:facet>
                            <h:outputText value="#{item.partnerId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_assignedTo}"/>
                            </f:facet>
                            <h:outputText value="#{item.assignedTo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_pickupAddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.pickupAddress}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_pickupCordLongitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.pickupCordLongitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_pickupCordLatitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.pickupCordLatitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_pickupTime}"/>
                            </f:facet>
                            <h:outputText value="#{item.pickupTime}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_destAddress}"/>
                            </f:facet>
                            <h:outputText value="#{item.destAddress}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_destCordLongitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.destCordLongitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_destCordLatitude}"/>
                            </f:facet>
                            <h:outputText value="#{item.destCordLatitude}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_departureTime}"/>
                            </f:facet>
                            <h:outputText value="#{item.departureTime}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_endTime}"/>
                            </f:facet>
                            <h:outputText value="#{item.endTime}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_promoCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.promoCode}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_distance}"/>
                            </f:facet>
                            <h:outputText value="#{item.distance}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_price}"/>
                            </f:facet>
                            <h:outputText value="#{item.price}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_paid}"/>
                            </f:facet>
                            <h:outputText value="#{item.paid}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_transactionId}"/>
                            </f:facet>
                            <h:outputText value="#{item.transactionId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_createdAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.createdAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_updatedAt}"/>
                            </f:facet>
                            <h:outputText value="#{item.updatedAt}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBookingsTitle_userId}"/>
                            </f:facet>
                            <h:outputText value="#{item.userId}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{bookingsController.prepareCreate}" update=":BookingsCreateForm" oncomplete="PF('BookingsCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":BookingsViewForm" oncomplete="PF('BookingsViewDialog').show()" disabled="#{empty bookingsController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":BookingsEditForm" oncomplete="PF('BookingsEditDialog').show()" disabled="#{empty bookingsController.selected}"/>
                            
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
