<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="BookingsViewDlg" widgetVar="BookingsViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewBookingsTitle}">
            <h:form id="BookingsViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{bookingsController.selected != null}">
                        <h:outputText value="#{bundle.ViewBookingsLabel_id}"/>
                        <h:outputText value="#{bookingsController.selected.id}" title="#{bundle.ViewBookingsTitle_id}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_partnerId}"/>
                        <h:outputText value="#{bookingsController.selected.partnerId}" title="#{bundle.ViewBookingsTitle_partnerId}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_assignedTo}"/>
                        <h:outputText value="#{bookingsController.selected.assignedTo}" title="#{bundle.ViewBookingsTitle_assignedTo}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_pickupAddress}"/>
                        <h:outputText value="#{bookingsController.selected.pickupAddress}" title="#{bundle.ViewBookingsTitle_pickupAddress}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_pickupCordLongitude}"/>
                        <h:outputText value="#{bookingsController.selected.pickupCordLongitude}" title="#{bundle.ViewBookingsTitle_pickupCordLongitude}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_pickupCordLatitude}"/>
                        <h:outputText value="#{bookingsController.selected.pickupCordLatitude}" title="#{bundle.ViewBookingsTitle_pickupCordLatitude}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_pickupTime}"/>
                        <h:outputText value="#{bookingsController.selected.pickupTime}" title="#{bundle.ViewBookingsTitle_pickupTime}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBookingsLabel_destAddress}"/>
                        <h:outputText value="#{bookingsController.selected.destAddress}" title="#{bundle.ViewBookingsTitle_destAddress}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_destCordLongitude}"/>
                        <h:outputText value="#{bookingsController.selected.destCordLongitude}" title="#{bundle.ViewBookingsTitle_destCordLongitude}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_destCordLatitude}"/>
                        <h:outputText value="#{bookingsController.selected.destCordLatitude}" title="#{bundle.ViewBookingsTitle_destCordLatitude}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_departureTime}"/>
                        <h:outputText value="#{bookingsController.selected.departureTime}" title="#{bundle.ViewBookingsTitle_departureTime}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBookingsLabel_endTime}"/>
                        <h:outputText value="#{bookingsController.selected.endTime}" title="#{bundle.ViewBookingsTitle_endTime}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBookingsLabel_status}"/>
                        <h:outputText value="#{bookingsController.selected.status}" title="#{bundle.ViewBookingsTitle_status}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_promoCode}"/>
                        <h:outputText value="#{bookingsController.selected.promoCode}" title="#{bundle.ViewBookingsTitle_promoCode}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_distance}"/>
                        <h:outputText value="#{bookingsController.selected.distance}" title="#{bundle.ViewBookingsTitle_distance}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_price}"/>
                        <h:outputText value="#{bookingsController.selected.price}" title="#{bundle.ViewBookingsTitle_price}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_paid}"/>
                        <h:outputText value="#{bookingsController.selected.paid}" title="#{bundle.ViewBookingsTitle_paid}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_transactionId}"/>
                        <h:outputText value="#{bookingsController.selected.transactionId}" title="#{bundle.ViewBookingsTitle_transactionId}"/>
                        <h:outputText value="#{bundle.ViewBookingsLabel_createdAt}"/>
                        <h:outputText value="#{bookingsController.selected.createdAt}" title="#{bundle.ViewBookingsTitle_createdAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBookingsLabel_updatedAt}"/>
                        <h:outputText value="#{bookingsController.selected.updatedAt}" title="#{bundle.ViewBookingsTitle_updatedAt}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewBookingsLabel_userId}"/>
                        <h:outputText value="#{bookingsController.selected.userId}" title="#{bundle.ViewBookingsTitle_userId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="BookingsViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
