<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="NotificationsEditDlg" widgetVar="NotificationsEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditNotificationsTitle}">
            <h:form id="NotificationsEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{notificationsController.selected != null}">
                        <p:outputLabel value="#{bundle.EditNotificationsLabel_id}" for="id" />
                        <p:inputText id="id" value="#{notificationsController.selected.id}" title="#{bundle.EditNotificationsTitle_id}" required="true" requiredMessage="#{bundle.EditNotificationsRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.EditNotificationsLabel_body}" for="body" />
                        <p:inputText id="body" value="#{notificationsController.selected.body}" title="#{bundle.EditNotificationsTitle_body}" required="true" requiredMessage="#{bundle.EditNotificationsRequiredMessage_body}"/>
                        <p:outputLabel value="#{bundle.EditNotificationsLabel_createdAt}" for="createdAt" />
                        <p:calendar id="createdAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{notificationsController.selected.createdAt}" title="#{bundle.EditNotificationsTitle_createdAt}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditNotificationsLabel_updatedAt}" for="updatedAt" />
                        <p:calendar id="updatedAt" pattern="MM/dd/yyyy HH:mm:ss" value="#{notificationsController.selected.updatedAt}" title="#{bundle.EditNotificationsTitle_updatedAt}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{notificationsController.update}" value="#{bundle.Save}" update="display,:NotificationsListForm:datalist,:growl" oncomplete="handleSubmit(args, 'NotificationsEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="NotificationsEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
