<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TransactionsTypeViewDlg" widgetVar="TransactionsTypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTransactionsTypeTitle}">
            <h:form id="TransactionsTypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{transactionsTypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewTransactionsTypeLabel_id}"/>
                        <h:outputText value="#{transactionsTypeController.selected.id}" title="#{bundle.ViewTransactionsTypeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewTransactionsTypeLabel_transactionsType}"/>
                        <h:outputText value="#{transactionsTypeController.selected.transactionsType}" title="#{bundle.ViewTransactionsTypeTitle_transactionsType}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TransactionsTypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
